* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    
--fonte-principal:"Press Start 2P", serif ;

}


body{
display: flex;
justify-content: center;
background-color: rgb(89, 0, 197);
background-image: url(img/code.png);
background-position: center;
background-repeat: repeat;
background-size: cover;

}

.container{
    margin-top: 25%;


}

.container__conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(156, 16, 232);
    border-radius: 15px 0px ;
    margin:0px 3%;
    padding: 1%;
    box-shadow: -15px 15px 30px rgba(0, 0, 0, 0.601);
}

.container__informacoes{
display: flex;
justify-content: flex-start;
flex-direction: column;
width: 50%;
}
.container__texo,h1,p{
color: black;
font-family:monospace;
}


.container__input{


}

.container__imagem__pessoa{
width: 30%;



}
.container__texto{


}