* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}



:root{
    
--fonte01:"ChaKra Petch",serif;
--fonte02: "Silkscreen", serif; 

}


body{
display: flex;
justify-content: center;
background-color: rgb(89, 0, 197);
background-image: url(img/code.png);
background-position: center;
background-repeat: repeat;
background-size: cover;

}



.conteudo01{
    margin-top: 20%;
    border: 3px solid rgb(156, 16, 232);
    border-radius: 15px ;
    padding: 5%;
    box-shadow: -15px 15px 30px rgba(0, 0, 0, 0.601);
    height: 400px;
    width:90%;
    
background-color:rgba(137, 43, 226, 0.524);
}

.conteudo__informacoes01{
flex-direction: column;

}

.conteudo__titulo h1{
color: black;
text-align: center;
font-family: var(--fonte01);
text-shadow: 2px 2px 1px rgb(4, 178, 178);
font-size:30px;
margin-bottom: 10%;
border: 2px solid rgb(7, 173, 234);
border-radius: 10px;
padding: 5%;
}

.conteudo__informacoes02{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;


}
.texto__e__botoes{
display: flex;
align-items: center;
flex-direction:column;


}

.texto__paragrafo{
font-size:19px;
text-align: center;

text-shadow: 1px 1px 1px rgb(4, 178, 178);
font-family: var(--fonte02);
color: black;
width: 100%;
}

.input{
    color:black;
width:30%;
height: 30px;
   border-radius: 5px; 
   margin-top: 5%;
   background-color: rgb(16, 239, 239);
}

.botoes{
    display: flex;
    flex-direction: row;
 margin-top: 5%;
 gap: 20px;
 justify-content: center;
 

    
}

.botao__chute{
background-color: blue;
border-radius: 5px;
width: 100px;
height: 40px;

}
.botao__reiniciar{
    
    border-radius: 5px;
    height: 40px;
width: 100px;

}


.imagem__pessoa{
  display: none;
}

@media screen and (min-width:425px) {

    
    
}