* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}



:root{
    
--fonte01:"ChaKra Petch",serif;

}


body{
display: flex;
justify-content: center;
background-color: rgb(89, 0, 197);
background-image: url(img/code.png);
background-position: center;
background-repeat: repeat;
background-size: cover;

}



.conteudo01{
    margin-top: 20%;
    border: 3px solid rgb(156, 16, 232);
    border-radius: 15px ;
    padding: 5%;
    box-shadow: -15px 15px 30px rgba(0, 0, 0, 0.601);
    height: 300px;
    width:90%;
}

.conteudo__informacoes01{
flex-direction: column;

}

.conteudo__titulo h1{
color: black;
text-align: center;
font-family: var(--fonte01);
margin-bottom: 10%;

}

.conteudo__informacoes02{
display: flex;
flex-direction: row;



}
.texto__e__botoes{
display: flex;
align-items: center;
flex-direction:column;
align-items: flex-start;

}

.texto__paragrafo{
font-size: large;
font-weight: bold;
font-family: var(--fonte01);
color: black;
width: 100px;
}

.input{
    
width:100%;
    
}

.botoes{
    display: flex;
    flex-direction: row;
}


.imagem__pessoa{
    margin-left:65px;
    margin-top:-4px;
width: 50%;


}
.container__texto{


}